In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

In [56]:
stock=pd.read_csv('C:\\Users\\Dell\\Desktop\\Jupyter practice\\Python basic\\Assets\\stock1nse.csv')
stock.head()

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE,52W H \n,52W L \n,365 D % CHNG \n -,30 D % CHNG \n 09-May-2022
0,NIFTY 50,"16,283.95","16,324.70","16,172.60","16,478.10","16,201.80",-276.30,-1.68,189680523,"183,879,230,146.46","18,604.45","15,450.90",2.95,0.21
1,GRASIM,"1,290.00","1,331.80","1,286.05","1,309.10","1,325.60",16.50,1.26,1145407,"1,506,851,632.92","1,929.80","1,286.05",-11.12,-13.60
2,APOLLOHOSP,"3,620.50","3,715.00","3,595.50","3,670.05","3,700.00",29.95,0.82,624657,"2,296,926,254.70","5,935.40","3,141.75",11.27,0.57
3,ASIANPAINT,"2,665.00","2,736.00","2,652.00","2,686.80","2,707.00",20.20,0.75,1592920,"4,317,068,067.20","3,590.00","2,599.35",-8.20,-11.29
4,DIVISLAB,"3,475.00","3,542.80","3,461.70","3,507.20","3,529.40",22.20,0.63,376643,"1,318,265,565.72","5,425.10","3,365.55",-19.31,-17.83

In [57]:
stock.columns=['Symbol','Open','High','Low','Prev','LTP','Chng','Chng%','Vol','Value','52W H','52W L','1y chng','1m chng']
stock.head()

,Symbol,Open,High,Low,Prev,LTP,Chng,Chng%,Vol,Value,52W H,52W L,1y chng,1m chng
0,NIFTY 50,"16,283.95","16,324.70","16,172.60","16,478.10","16,201.80",-276.30,-1.68,189680523,"183,879,230,146.46","18,604.45","15,450.90",2.95,0.21
1,GRASIM,"1,290.00","1,331.80","1,286.05","1,309.10","1,325.60",16.50,1.26,1145407,"1,506,851,632.92","1,929.80","1,286.05",-11.12,-13.60
2,APOLLOHOSP,"3,620.50","3,715.00","3,595.50","3,670.05","3,700.00",29.95,0.82,624657,"2,296,926,254.70","5,935.40","3,141.75",11.27,0.57
3,ASIANPAINT,"2,665.00","2,736.00","2,652.00","2,686.80","2,707.00",20.20,0.75,1592920,"4,317,068,067.20","3,590.00","2,599.35",-8.20,-11.29
4,DIVISLAB,"3,475.00","3,542.80","3,461.70","3,507.20","3,529.40",22.20,0.63,376643,"1,318,265,565.72","5,425.10","3,365.55",-19.31,-17.83

In [58]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symbol   51 non-null     object
 1   Open     51 non-null     object
 2   High     51 non-null     object
 3   Low      51 non-null     object
 4   Prev     51 non-null     object
 5   LTP      51 non-null     object
 6   Chng     51 non-null     float64
 7   Chng%    51 non-null     float64
 8   Vol      51 non-null     int64
 9   Value    51 non-null     object
 10  52W H    51 non-null     object
 11  52W L    51 non-null     object
 12  1y chng  51 non-null     float64
 13  1m chng  51 non-null     float64
dtypes: float64(4), int64(1), object(9)
memory usage: 5.7+ KB

In [54]:
stock['Symbol'=stock.astype('str')
# stock['LTP']=stock['LTP'].str.replace(',','')
# stock['LTP']=stock['LTP'].str.extract('(\d+)', expand=False)
# stock['LTP']=stock['LTP'].astype(float)

In [55]:
stock.head()

,Symbol,Open,High,Low,Prev,LTP,Chng,Chng%,Vol,Value,52W H,52W L,1y chng,1m chng
0,b'NIFTY 50',"b'16,283.95'","b'16,324.70'","b'16,172.60'","b'16,478.10'","b'16,201.80'",b'-276.3',b'-1.68',b'189680523',"b'183,879,230,146.46'","b'18,604.45'","b'15,450.90'",b'2.95',b'0.21'
1,b'GRASIM',"b'1,290.00'","b'1,331.80'","b'1,286.05'","b'1,309.10'","b'1,325.60'",b'16.5',b'1.26',b'1145407',"b'1,506,851,632.92'","b'1,929.80'","b'1,286.05'",b'-11.12',b'-13.6'
2,b'APOLLOHOSP',"b'3,620.50'","b'3,715.00'","b'3,595.50'","b'3,670.05'","b'3,700.00'",b'29.95',b'0.82',b'624657',"b'2,296,926,254.70'","b'5,935.40'","b'3,141.75'",b'11.27',b'0.57'
3,b'ASIANPAINT',"b'2,665.00'","b'2,736.00'","b'2,652.00'","b'2,686.80'","b'2,707.00'",b'20.2',b'0.75',b'1592920',"b'4,317,068,067.20'","b'3,590.00'","b'2,599.35'",b'-8.2',b'-11.29'
4,b'DIVISLAB',"b'3,475.00'","b'3,542.80'","b'3,461.70'","b'3,507.20'","b'3,529.40'",b'22.2',b'0.63',b'376643',"b'1,318,265,565.72'","b'5,425.10'","b'3,365.55'",b'-19.31',b'-17.83'

In [30]:
stock['LTP'].plot(label='LTP',figsize=(15,7))

TypeError: no numeric data to plot